<section class="border-top shadow rounded-top-5">
    <!-- Footer -->
    <footer class="bg-body-tertiary text-center text-md-start">
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-9 col-md-12 mb-4 mb-md-0">
            <a class="navbar-brand" href="/"><i class="fa-regular fa-compass fa-spin"></i><span class="logo"> WanderLust</span></a>
            <div class="container mt-1">
            <div class="row socialmedia">
                <div class="col-auto"><i class="fa-brands fa-facebook"></i></div>
                <div class="col-auto"><i class="fa-brands fa-instagram"></i></div>
                <div class="col-auto"><i class="fa-brands fa-x-twitter"></i></div>
                <div class="col-auto"><i class="fa-brands fa-linkedin"></i></div>
                <div class="col-auto"><i class="fa-brands fa-youtube"></i></div>
            </div>
        </div>
          </div>
          <!--Grid column-->
          <div class="col-lg-3 col-md-12 mb-0 mb-md-0 mt-4">
            <div class="row">
                <div class="col-auto"><a class="nav-link" href="/">Home</a></div>
                <div class="col-auto"><a class="nav-link" href="/">About Us</a></div>
                <div class="col-auto"><a class="nav-link" href="/">Privacy</a></div>
                <div class="col-auto"><a class="nav-link" href="/">Terms</a></div>
            </div>
        </div>
          </div>



  
  
    
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        © WanderLust Private Limited
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </section>