<nav class="navbar navbar-expand-md bg-white border border-secondary-subtle sticky-top shadow rounded-5 m-2 mt-2">
    <div class="container-fluid">
      <a class="navbar-brand p-3" href="/"><i class="fa-regular fa-compass fa-spin"></i><span class="logo"> WanderLust</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link ms-3" href="/listings">All Listings</a>
          <a class="nav-link ms-3" href="/listings/new">Add New Listings</a>
        </div>
      </div>
    </div>
  </nav>