<% layout("/layouts/boilerplate") %>
<body>
    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1 mt-2">
        <% for (let listing of allListings) { %>
            <a href="/listings/<%= listing.id %>" class="text-decoration-none">
            <div class="card">
                <img src="<%= listing.image %>" class="card-img-top" style="height: 16rem;" alt="Listings_Images">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                    <h4 class="card-title"><b><%= listing.title %></b></h4>
                  <p class="card-text">&#8377;<%= listing.price.toLocaleString("en-IN") %>/ Night</p>
                </div>
              </div>
            </a>
              <% } %>
    </div>


</body>
 
