<% layout("/layouts/boilerplate.ejs") %>

<div class="row mt-5">
  <div class="col-6 offset-3 mt-5">
    <h1 class="text-center mt-3">Sign In</h1>
    <div class="col-6 offset-3">
      <form
        action="/signin"
        method="POST"
        class="needs-validation mt-2"
        novalidate
      >
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            name="username"
            id="username"
            class="form-control"
            required
          />
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            required
          />
          <div class="invalid-feedback"></div>
          <div class="valid-feedback"></div>
        </div>

        <button class="btn btn-dark wl-btn mb-3">Sign In</button>
        <br>
        <span>Don’t have an account? <a href="/signup">Sign up</a></span>
      </form>
    </div>
  </div>
</div>
<br /><br /><br /><br /><br><br>
